.container {
	max-width: 1000px;
	margin-left:auto;
	margin-right:auto;
}

.content-area {
	border-top: 3px solid black;
	border-bottom: 3px solid black;
}

.main-area {
	min-width: 40%;
	max-width: 80%;
	float: left;
}

.sidebar {
	width: 100px;
	float: left;
	padding-right: 30px;
}

.group:before,
.group:after {
    content: "";
    display: table;
}
.group:after {
    clear: both;
}
.group {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}
